body {
    background-color: lightgrey;
}

#logo {
    width: 25%;
    margin: 0 auto;
}

#cabecera {
    background-color: white;
}

nav {
    background-color: black;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 0 px;
    display: block;
}

nav ul li a:hover {
    background-color: lightblue;
    border-radius: 5px;
}

#contenido {
    margin-top: 20px;
    margin-bottom: 10px;
}

#pieDePagina {
    width: 25%;
    margin-top: 25%;
}

#terminosLegales {
    text-align: left;
}

#redesSociales {

    text-align: right;
}

h1,
h2 {
    text-align: center;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    border: 5px solid black;
    padding: 8px;
    text-align: center;
    background-color: darkgray;
}

form {
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    /* Esto lo convierte en flotante */
    z-index: 999;
    /* Asegura que esté por encima */
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    /* Cubre toda la pantalla */
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    /* Fondo semitransparente */
}

.modal-contenido {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: fit-content;
    text-align: center;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar:hover {
    color: black;
}